.graph {
    padding: 1rem;
    border-radius: 12px;
    background-image: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
    text-align: center;
    display: flex;
    justify-content: space-around;
    height: 10rem;
  }